@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=PT+Sans+Narrow&display=swap');

body{
    font-family: 'Merriweather', serif;
    font-family: 'PT Sans Narrow', sans-serif;
    background: #485563;  
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563); 
    color:#fff;    
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
text-align: center;
font-size: 80px;
margin-top: 10%;
}

.description{
    text-align: center;
    font-size: 20px;
    font-weight:lighter;
}

.badge{
    color:blueviolet;
}



.homeBtn{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 40px;
    font-size: 20px;
}

a{
    color:#fff;
    background-color:rgb(69, 197, 154);
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius:2px;

}